<!-- work -->
<div class='content work'>
  
  
  <!-- graph -->
  <div class='graph hide' id='graph'>
  </div>
  <!-- graph -->
  
  
  <!-- modal -->
  <div class='modal' id='modal'>
    <span class='title'>National Geographic Channel</span>
    
    
    <!-- window -->
    <div class='window'>
      <img src='images/preview.png' alt='Gallo'/>
    </div>
    <!-- /window -->
    
    
    <!-- meta -->
    <div class='meta'>        
      <div class='preview_nav'>
        <a href='#' class='prev'>Previous</a>
        <span>3 of 8</span>
        <a href='#' class='next'>Next</a>
      </div>          
      <div class='brief'>
        <span>Brief:</span> 
        Worked with <a href='#'>Behavior</a> and 
        <a href='#'>nonsponsored</a> to build out a 
        great design for NGCs new web presence.
      </div>
      <div class='contribution'>
        <span>Contribution:</span> 
        HTML, CSS, JavaScript (jQuery), SWFObject, JSON
      </div>        
    </div>
    <!-- /meta -->
    
    
    <!-- modal nav -->
    <div class='nav'>
      <a href="#" class='button_prev'>ICTV Suite</a>
      <a href="#" class='button_next'>Monster Office</a>
    </div>
    <!-- /modal nav -->
    
    
  </div> 
  <!-- /modal -->
  
  
  <!-- nav -->
  <div class='nav'>
    <span>You can also choose a project from the list below.</span>
    <p>
      <a href="#">ICTV Suite</a>, 
      <a href="#">NGC</a> (with <a href="#">Behavior</a>), 
      <a href="#">Sprout</a>, 
      <a href="#">Titmouse</a>, 
      <a href="#">Pixels-n-Bits</a>, 
      <a href="#">JibJab</a>, 
      <a href="#">Monster Office</a>, 
      <a href="#">A Hundred Echoes</a>
    </p>
  </div>
  <!-- /nav -->
  
  
</div>
<!--/ work -->


<!-- contact -->
<div class='contact'>
  <span>
    If you are interested in a comprehensive overview of my work, please 
    <a id="contact_me" href='#'>Contact Me</a>.
  </span>

  <form id="form" action=''>
    <input type='text' value='Insert Subject Here'/>
    <textarea>Insert Message Here</textarea>
    <input type='text' value='insert_email@here.com'/>
    <fieldset>
      <a href="#">Send</a> or
      <a class="cancel" href="#">Cancel</a>
    </fieldset>
  </form>

</div>
<!-- /contact -->


<span class='end'></span>  
